@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import url("https://fonts.googleapis.com/css?family=Acme|Anton|Patua+One");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

:root {
  --color-primary: #133956;
  --color-primary-light: #28b485;
  --color-primary-dark: #042117;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.07);

  --line: 1px solid var(--color-grey-light-3);
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem =10px, 10px/16px = 62.5% */
}

body {
  background-color: var(--color-grey-light-1);
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: "Roboto Slab", serif;
  /* font-family: "Montserrat", sans-serif; */
  line-height: 1.6;
  font-weight: 400;
  border-top: 3px solid var(--color-primary);
  font-size: 10px;
}

/*=============================================
=            TYPOGRAPGY            =
=============================================*/

p {
  font-size: 2rem;
  font-weight: 300;
  color: #000000ba;
}
h1 {
  font-size: 4.2rem;
  font-family: "Patua One", sans-serif;
}
h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--color-grey-dark-2);
}

h4 {
  font-size: 2rem;
}

h1,
h2 {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2 {
  font-family: "Acme", sans-serif;
}
/*=====  End of TYPOGRAPGY  ======*/

/* ******** OVERRIDES ******** */
.btn {
  font-size: 1.4rem;
  border-radius: 10px;
  background-color: var(--color-primary-light);
}
.btn-sm {
  font-size: 1.3rem;
}
.btn-lg {
  font-size: 2rem;
}
.bg-dark {
  background: transparent;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

/* ******** MAIN PAGE ******** */
#main-display {
  position: relative;
  display: block;
  left: 0px;
  margin-left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 400ms;
}

/* ******** STICKY ******** */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 6.4rem;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-light)
  );
}

.sticky a,
.sticky .fa {
  color: var(--color-grey-light-1) !important;
}

/* ******** OVERLAY ******** */
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #25252565;
  z-index: 9;
}

/********** MENU BUTTON (HAMBURGER)**********/
.menu-btn {
  display: none;
  position: absolute;
  z-index: 999;
  left: 3.5rem;
  top: 1rem;
  cursor: pointer;
  opacity: 1000;
  transition: all 0.5s ease-out;
  z-index: 1000;
}
.menu-btn .btn-line {
  width: 3.3rem;
  height: 0.3rem;
  margin: 0 0 8px 0;
  background-color: var(--color-grey-dark-1);
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(13px, 9px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -2px);
}

/* ******** PRIMARY NAV (SIDE NAV) ******** */

#primary_nav {
  top: 0px;
  position: fixed;
  display: block;
  left: -17rem;
  width: 17rem;
  height: 100vh;
  background: #02030354;
  border-right: 1px solid #fff;
  z-index: 10;
  transition: 400ms;
}

#primary_nav ul {
  display: block;
  padding-left: 0.5rem;
  list-style: none;
  margin-top: 6rem;
}

.active-link {
  background: #fff;
}

#logo {
  position: relative;
  margin-left: 1rem;
  top: 4rem;
  left: 2rem;
  font-size: 2.5rem;
}
#logo a {
  color: var(--color-primary);
}
.menu li a {
  text-decoration: none;
}

.menu li a i span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}

.menu li a i span,
nav ul .fas {
  color: #133956cb !important;
}

.menu > li {
  padding: 25px;
  box-shadow: 3px 0 rgba(255, 255, 255, 0.2) inset;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  border-left: 1px solid rgba(255, 255, 255, 0.04);
  --webkit-transition: all 0.8s;
  font-size: 2rem;
  margin-bottom: 0.3rem;
  padding-left: 0.8em;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.menu li:hover {
  opacity: 0.8;
  cursor: pointer;
  margin-left: 0.3rem;
  box-shadow: 9em 0 rgba(0, 0, 0, 0.2) inset;
}

/*=============================================
=            MAIN DISPLAY NAV            =
=============================================*/

#main-display nav {
  border-bottom: 1px #133956c4 solid;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.057);
}

#nav-display .fa {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-light)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}

#main-display nav ul {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Acme", sans-serif;
}
#main-display nav ul li a {
  color: var(--color-primary);
  margin-left: 2rem;
}

#main-display nav ul li a:hover {
  color: #133956c4;
}

#main-display nav ul li a.active {
  font-weight: bold;
  color: var(--color-primary);
}
/*=====  End of MAIN DISPLAY NAV  ======*/

/*=============================================
=            HOME PAGE            =
=============================================*/

#home {
  text-align: center;
  border-bottom: 1px #13395635 solid;
  background: linear-gradient(
    to top left,
    #28b4855a,
    transparent,
    transparent,
    transparent,
    #28b48590
  );
  background-size: cover;
  background-repeat: no-repeat;
}

/* HOME PROFILE */

.story {
  display: relative;
}
.story__img {
  max-height: 220px;
  border-radius: 50%;
  border: 1px solid #13395644;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-transform: uppercase;
  font-size: 1.9rem;
  text-align: center;
  opacity: 0;
  transition: all 500ms;
  color: #f4f4f4;
  font-family: "Acme", sans-serif;
}

.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

#home h1 {
  padding: 2rem;
  font-weight: bold;
}

#home h2 {
  font-weight: bold;
  line-height: 1.1;
}

.icons .fab {
  color: #14544d;
  font-size: 2.2rem;
  transition: all 300ms ease-in-out;
}
.icons .fab:hover {
  color: #2c9472;
  transform: scale(1.1);
}

/* TECH STACK */

.stack-section {
  background: linear-gradient(
    to right bottom,
    transparent,
    transparent,
    #28b4855a,
    transparent,
    transparent
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.stack {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
}

.stack img {
  width: 100%;
  height: 100px;
  padding: 15px;
  border: 1px solid #133956c4;
  box-shadow: 2px 3px #6d757d62;
  border-radius: 3px;
  transition: transform 300ms;
}

.stack img:hover {
  box-shadow: 0.4rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
  transform: scale(1.07);
}

/* HOME CONTACT AND WORK SECTION */

#homeContact a {
  color: #133956c8;
  font-weight: 500;
}

/* PORTFOLIO WORK SECTION */
#homeContact {
  background: linear-gradient(
    to right bottom,
    #28b4855a,
    transparent,
    transparent,
    transparent,
    #28b48590
  );
  background-size: cover;
  background-repeat: no-repeat;
  border-top: #33333323 solid 1px;
}
/*=====  End of HOME PAGE  ======*/

/*=============================================
=            PORTFOLIO            =
=============================================*/
#work {
  background: linear-gradient(
    to right bottom,
    #28b4855a,
    transparent,
    transparent,
    #28b48590
  );
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio__item p {
  font-size: 1.6rem;
}
#work img {
  transition: all 300ms;
}

#work img:hover {
  transform: scale(1.07);
}

#work li {
  line-height: 0.7;
  border: none;
}

#work .list-group-item {
  background: none;
}
/*=====  End of PORTFOLIO  ======*/

/*=============================================
=            CONTACT            =
=============================================*/

form #alertSuccess,
form #alertFail {
  display: none;
}

.input-group-prepend i {
  color: #14544d;
}

.space {
  background: #f8f9fa;
  width: 100%;
  height: 100px;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-append > .btn,
.input-group-lg > .input-group-prepend > .input-group-text {
  padding: 2rem 1.8rem;
  font-size: 1.7rem;
}

.form-control {
  font-size: 1.7rem;
}

/*=====  End of CONTACT  ======*/

/********** FOOTER **********/
#main-footer {
  background-image: linear-gradient(to left, #133956, #28b485);
}

footer {
  font-size: 1.3rem;
}

/********** SCROLL TOP **********/
#scroll-top {
  font-size: 2rem;
  display: none;
  position: fixed;
  bottom: 75px;
  right: 10px;
  border: 1px solid #133956;
  z-index: 1000;
}
#scroll-top a {
  color: #133956;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  #main-display nav ul {
    display: none;
  }

  .sticky .menu-btn {
    top: 20px;
  }

  .navbar-brand {
    margin-left: 50% !important;
  }

  #work h2 {
    margin-top: 20px;
  }

  #work .row {
    text-align: center;
  }

  /*BLOG*/
  .blog-aside {
    display: none;
  }
}

@media (max-width: 550px) {
  #primary_nav ul li {
    font-size: 1.6rem;
  }
  .navbar-brand {
    margin-left: 50% !important;
  }
  .space {
    display: none;
  }
  #scroll-top {
    display: block;
  }
}

@media (min-width: 900px) {
  #home img {
    margin-right: -10%;
  }

  .story__caption {
    margin-left: 25px;
  }
  .homeInfo {
    margin-left: -10%;
  }
}
