@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.3rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-family: "Special Elite", cursive, serif;
  font-size: 1.5rem;
}
h4 {
  font-size: 1.8rem;
}

/* ******** MAIN PAGE ******** */
body {
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../img/bg.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

#main-display {
  position: relative;
  display: block;
  left: 0px;
  margin-left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 400ms;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.732) !important;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #25252565;
  z-index: 9;
}

#primary_nav {
  top: 0px;
  position: fixed;
  display: block;
  left: -170px;
  width: 170px;
  height: 100vh;
  background: #02030354;
  border-right: 1px solid #fff;
  z-index: 10;
  transition: 400ms;
}

/********** MENU BUTTON **********/
.menu-btn {
  /* display: none; */
  position: absolute;
  z-index: 999;
  left: 35px;
  top: 27px;
  cursor: pointer;
  opacity: 1000;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 36px;
  height: 4px;
  margin: 0 0 8px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(13px, 10px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -4px);
}

/********* SIDE BAR NAV **************/
/********* SIDE BAR NAV **************/
#primary_nav ul {
  display: block;
  margin-top: 80px;
  padding-left: 5px;
  list-style: none;
  margin-top: 150px;
}

.active-link {
  background: #fff;
}

#logo {
  position: relative;
  margin-left: 10px;
  top: 40px;
  left: 40px;
  width: 90px;
  font-size: 25px;
}
.menu li a {
  text-decoration: none;
}

.menu li a i span,
nav ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}
.menu > li {
  padding: 25px;
  box-shadow: 3px 0 rgba(255, 255, 255, 0.2) inset;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  border-left: 1px solid rgba(255, 255, 255, 0.04);
  --webkit-transition: all 0.8s;
  font-size: 20px;
  margin-bottom: 3px;
  padding-left: 0.8em;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.menu li:hover {
  opacity: 0.8;
  cursor: pointer;
  margin-left: 3px;
  box-shadow: 9em 0 rgba(0, 0, 0, 0.2) inset;
}

/****** MAIN DISPLAY NAV *****/

#main-display nav {
  border-bottom: 1px #ffffff8e solid;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.151);
}
#main-display nav ul {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
}
#main-display nav ul li {
  margin-left: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffffb9;
}

/********* HOME PAGE *********/
#home {
  position: relative;
  text-align: center;
  height: 91vh;
  border-bottom: #33333323 solid 1px;
}

#home .showcase {
  position: absolute;
  margin-top: 15%;
}

#home .showcase h1 {
  color: #beee66;
  font-size: 6rem;
}

#home .showcase .sm-heading {
  margin: 35px 0;
}
main .icons {
  margin: 35px 0;
}

main .icons a {
  padding: 0.4rem;
  color: #fff;
}
main .icons a:hover,
#primary_nav ul li a .fab:hover {
  color: #beee66;
  transition: all 0.5s ease-in-out;
}

/********* ABOUT PAGE *********/
#about {
  border-bottom: #33333323 solid 1px;
}
.about-header h1 {
  font-size: 2rem;
  margin-top: 20px;
}

#about img.myImg {
  max-height: 250px;
  border-radius: 40%;
}

.stack {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
}

.stack img {
  width: 100%;
  height: 100px;
  padding: 20px;
  border: 1px solid #2222226c;
  box-shadow: 2px 3px #6d757d;
  border-radius: 2px;
}
#work {
  border-bottom: #33333323 solid 1px;
}

#work img {
  min-height: 250px;
  min-width: 240px;
}

#work li {
  line-height: 0.7;
  border: none;
}

#work .list-group-item {
  background: none;
}

form #alertSuccess,
form #alertFail {
  display: none;
}
/********** FOOTER **********/

/********** SCROLL TOP **********/

#scroll-top {
  position: fixed;
  bottom: 112px;
  right: 10px;
  z-index: 1000;
}

/********* QUERIES *********/
@media (max-width: 576px) {
  #home h1 {
    font-size: 5rem;
  }
  #home h2 {
    font-size: 2rem;
  }

  #about {
    text-align: center;
  }

  #about h3.muted {
    margin-top: 30px;
  }

  #about p.text-muted {
    margin-top: 30px;
  }

  #work .pading-responsive {
    padding-top: 40px;
  }

  footer {
    padding: 20px 0 20px 0;
    text-align: center;
  }
}

@media (max-width: 991px) {
  #main-display #nav-display ul {
    display: none;
  }
  .navbar-brand {
    margin-left: 45% !important;
  }
}

@media (min-width: 992px) {
  .menu-btn {
    display: none;
  }

  #main-display #nav-display ul {
    display: flex;
  }

  #home .showcase {
    margin-left: 15%;
  }
}

@media (max-width: 550px) {
  #home .showcase {
    margin-top: 45%;
  }
}
