@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Acme|Anton|Patua+One");
:root {
  --color-primary: #32aced;
  --color-primary-light: #374b5c;
  --color-primary-lighter: #304150;
  --color-primary-dark: #1c2633;
  --color-secondary: #f8b71c;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey-light-3); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-grey-light-1);
  background-color: var(--color-primary-dark);
  background-size: cover;
  line-height: 1.6;
  font-weight: 400;
  height: 100%; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.heading__primary {
  font-size: 4rem;
  color: var(--color-grey-light-4); }

.text-lead {
  color: var(--color-primary); }

.text-lead-sub {
  color: var(--color-secondary);
  text-align: center;
  margin-top: 4rem; }

.paragraph {
  color: var(--color-grey-light-2);
  font-size: 1.7rem;
  width: 90%;
  margin: 0 auto; }
  .paragraph--center {
    text-align: center; }
  .paragraph--small {
    font-size: 1.4rem; }

.nav {
  height: 7rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }
  .nav__items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 96rem;
    margin: 0 auto; }

.logo {
  font-size: 3rem;
  align-self: stretch;
  margin: auto 0; }
  .logo .logo__icon {
    text-decoration: none;
    color: var(--color-secondary);
    margin-left: 3rem; }

.menu {
  flex: 0 0 50%;
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu__item {
    font-size: 1.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.2s ease; }
    .menu__item:not(:last-child) {
      margin-right: 3rem; }
    .menu__item:hover {
      padding-bottom: -7px;
      border-bottom: 2px solid var(--color-secondary); }
    .menu__item--link:link, .menu__item--link:visited {
      text-decoration: none;
      color: var(--color-grey-light-2); }

@media only screen and (max-width: 600px) {
  .nav {
    position: fixed;
    top: 0;
    left: -25rem;
    width: 25rem;
    height: 100%;
    transition: left 0.3s ease-in-out;
    opacity: 0;
    border-top: 4px solid var(--color-secondary);
    background-color: var(--color-primary-light);
    z-index: 1000; }
  .open {
    left: 0;
    opacity: 1; }
  .logo {
    width: 100%;
    margin: 0 auto; }
    .logo .logo__icon {
      margin: 0; }
  .nav {
    text-align: center; }
    .nav__items {
      flex-direction: column;
      justify-content: space-around;
      height: 70vh; }
    .nav .menu {
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .nav .menu__item {
        margin: 0;
        width: 100%;
        border-left: 3px solid var(--color-primary);
        background-color: var(--color-primary-lighter);
        position: relative; }
        .nav .menu__item:not(:last-child) {
          margin-bottom: 2rem; }
        .nav .menu__item--link:link, .nav .menu__item--link:visited {
          text-transform: uppercase;
          padding: 1.5rem 3rem;
          z-index: 10;
          width: 100%;
          text-align: start; }
        .nav .menu__item:hover {
          border: none; }
      .nav .menu__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s; }
      .nav .menu__item:hover::before {
        transform: scaleY(1);
        width: 100%;
        border-bottom: 2px solid var(--color-secondary); } }

/**** hamburger icon ****/
.hamburger {
  position: fixed;
  top: 2rem;
  right: 3rem;
  opacity: 1;
  z-index: 1001;
  display: none; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger span {
    display: block;
    background: #fff;
    margin: 6px 0;
    height: 3px;
    width: 36px;
    border-radius: 2px;
    position: relative;
    transition: all 0.5s ease-in-out; }
  @media only screen and (max-width: 600px) {
    .hamburger {
      display: block; } }

.change.first-bar {
  top: 8px;
  transform: rotate(45deg); }

.change.second-bar {
  opacity: 0; }

.change.third-bar {
  bottom: 10px;
  transform: rotate(-45deg); }

.content {
  font-size: 1.6rem; }

.shift {
  /* margin-left: 180px; */ }

#home {
  background-image: linear-gradient(-122deg, rgba(245, 33, 33, 0) 82%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-108deg, rgba(27, 0, 255, 0) 80%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-101deg, rgba(255, 33, 33, 0) 79%, rgba(255, 255, 255, 0.08) 15%), radial-gradient(circle, #02203c 0%, #02203c 100%); }

.portfolio {
  padding-top: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh; }
  .portfolio__story {
    max-width: 25rem;
    max-height: 25rem;
    position: relative;
    flex: 0 0 40%;
    align-self: center; }
    .portfolio__story__img {
      max-width: 22rem;
      max-height: 22rem;
      border-radius: 50%;
      padding: 4px;
      border: 2px solid var(--color-secondary); }
    .portfolio__story__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      text-transform: uppercase;
      font-size: 1.6rem;
      text-align: center;
      opacity: 0;
      transition: all 500ms;
      color: var(--color-grey-light-3);
      border-radius: 4px;
      padding: 0 1rem;
      background-color: #13395666; }
    .portfolio__story:hover .portfolio__story__caption {
      opacity: 1;
      transform: translate(-50%, -50%); }
  .portfolio__info {
    width: 50rem;
    text-align: center;
    position: relative;
    padding-top: 8rem; }
    .portfolio__info__heading {
      font-size: 7rem;
      color: var(--color-primary); }
      .portfolio__info__heading--sub {
        font-size: 2.6rem;
        font-weight: 400;
        color: var(--color-grey-dark-2);
        margin-top: 2rem; }
    .portfolio__info__cta {
      margin-top: 4rem; }
      .portfolio__info__cta__btn, .portfolio__info__cta__btn:link, .portfolio__info__cta__btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 200ms;
        position: relative;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        background-color: var(--color-secondary);
        font-family: inherit;
        font-weight: bold;
        letter-spacing: 1px; }
      .portfolio__info__cta__btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(206, 202, 97, 0.2); }
        .portfolio__info__cta__btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0; }
      .portfolio__info__cta__btn:active, .portfolio__info__cta__btn:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(206, 202, 97, 0.2); }
  .portfolio__social {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: 4rem auto 0 auto; }
    .portfolio__social--icon {
      height: 2.5rem;
      width: 2.5rem;
      transition: all 300ms ease-in-out; }
      .portfolio__social--icon:hover {
        transform: scale(1.2) rotate(360deg); }
    .portfolio__social .codepen {
      fill: #f4f4f4; }
    .portfolio__social .instagram {
      fill: #d10968; }
    .portfolio__social .linkedin {
      fill: #0177b5; }
    .portfolio__social .github {
      fill: #f4f4f4; }

.home-icon {
  fill: var(--color-primary); }

.landing__mouse {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%); }

.mouse {
  width: 3.5rem;
  height: 6rem;
  border: 2px solid #d10968;
  border-radius: 6rem; }

.mouse::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #d10968;
  opacity: 1;
  animation: mouse 2s infinite; }

@keyframes mouse {
  from {
    opacity: 1;
    top: 1.4rem; }
  to {
    opacity: 0;
    top: 4.5rem; } }

.about {
  padding-bottom: 5rem;
  background: var(--color-primary-light); }
  .about__title {
    margin-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    font-family: "Acme", sans-serif;
    letter-spacing: 1px; }
  .about__body {
    display: flex;
    justify-content: space-around; }
  .about__paragraph {
    flex: 0 0 60%; }

.stack {
  background-color: var(--color-primary-lighter);
  padding: 3rem 0 10rem 0; }
  .stack__title {
    margin-bottom: 3rem;
    text-align: center;
    font-family: "Acme", sans-serif;
    letter-spacing: 1px; }
  .stack__images {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    transition: all 1s ease; }
  .stack__img {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    margin-right: 2rem;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-grey-light-2);
    box-shadow: 2px 3px #00000062;
    border-radius: 3px;
    transition: transform 300ms; }
    .stack__img:hover {
      box-shadow: 0.4rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
      transform: scale(1.02); }

.stack__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0; }
  .stack__filter :not(:last-child) {
    margin-right: 2rem; }
  .stack__filter--header {
    color: var(--color-secondary); }
  .stack__filter--btn, .stack__filter--btn:active, .stack__filter--btn:link {
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    font-family: inherit;
    border-radius: 5px;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-grey-light-2);
    cursor: pointer;
    outline: none; }

.contact {
  margin-top: 10rem;
  background: var(--color-primary-light);
  border-radius: 0.5rem;
  padding: 3rem 0 10rem 0; }
  .contact__title {
    margin-bottom: 3rem;
    text-align: center;
    font-family: "Acme", sans-serif;
    letter-spacing: 1px; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  background: var(--color-primary); }
  .footer__button {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 0.4rem;
    border: 1px solid var(--color-secondary); }
    .footer__button--link {
      text-decoration: none;
      font-size: 1rem;
      align-self: center;
      color: var(--color-primary-dark); }
    .footer__button--icon {
      height: 1.4rem;
      width: 1.4rem;
      margin-bottom: -0.25rem;
      margin-right: 0.3rem; }
    .footer__button:hover {
      background-color: var(--color-primary-dark); }
  .footer__button:hover .footer__button--link {
    color: var(--color-primary); }
  .footer__button:hover .footer__button--icon {
    fill: var(--color-primary); }

.contact .portfolio__info__cta {
  display: flex;
  justify-content: center; }
  .contact .portfolio__info__cta a {
    color: var(--color-primary-dark); }

.work {
  padding-bottom: 5rem;
  background: var(--color-primary-light);
  font-size: 1.7rem; }
  .work__title {
    margin-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    font-family: "Acme", sans-serif;
    letter-spacing: 1px; }
  .work__header__title--sub {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--color-grey-dark-2);
    margin-top: -2rem;
    margin-bottom: 2rem; }

.project {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5rem;
  background-color: var(--color-primary-lighter);
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: var(--shadow-light); }
  .project__image--box {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 2rem; }
  .project__image {
    max-width: 100%;
    height: auto; }
  .project__details__title {
    color: var(--color-primary);
    margin-bottom: 1.5rem;
    font-weight: 600; }
    .project__details__title--sub {
      font-weight: 300;
      color: var(--color-grey-dark-3);
      margin-bottom: 1rem; }
  .project__details__paragraph {
    font-size: 1.4rem;
    margin-bottom: 1.5rem; }
  .project__details__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem; }
    .project__details__list--item {
      background-color: var(--color-primary);
      display: inline;
      padding: 0.4rem 0.5rem;
      border-radius: 0.5rem;
      color: var(--color-primary-dark);
      margin-bottom: 1rem; }
      .project__details__list--item:not(:last-child) {
        margin-right: 0.7rem; }
  .project__button {
    background-color: var(--color-secondary);
    display: inline;
    padding: 0.4rem;
    border-radius: 5px;
    padding: 0.5rem 1rem; }
    .project__button:not(:last-child) {
      margin-right: 2rem; }
    .project__button__icon {
      height: 1.5rem;
      width: 1.5rem;
      margin-bottom: -0.1rem; }
    .project__button--link {
      text-decoration: none;
      text-transform: uppercase;
      color: #000; }
