:root {
  --color-primary: #32aced;
  --color-primary-light: #374b5c;
  --color-primary-lighter: #304150;
  --color-primary-dark: #1c2633;
  --color-secondary: #f8b71c;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.07);
  --line: 1px solid var(--color-grey-light-3); }

* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Lato, sans-serif;
  color: var(--color-grey-light-1);
  background-color: var(--color-primary-dark);
  line-height: 1.6;
  font-weight: 400; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.heading__primary {
  font-size: 4rem;
  color: var(--color-grey-light-4); }

.text-lead {
  color: var(--color-primary); }

.text-lead-sub {
  color: var(--color-secondary);
  text-align: center;
  margin-top: 4rem; }

.paragraph {
  text-align: center;
  color: var(--color-grey-light-2);
  font-size: 1.7rem;
  width: 80%;
  margin: 0 auto; }

.nav {
  height: 7rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary-light);
  width: 100%;
  z-index: 1000; }
  .nav__items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 96rem;
    margin: 0 auto; }

.logo {
  font-size: 3rem;
  align-self: stretch;
  margin: auto 0; }
  .logo .logo__icon {
    text-decoration: none;
    color: var(--color-secondary);
    margin-left: 3rem; }

.menu {
  flex: 0 0 50%;
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu__item {
    font-size: 1.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.2s ease; }
    .menu__item:not(:last-child) {
      margin-right: 3rem; }
    .menu__item:hover {
      padding-bottom: -7px;
      border-bottom: 2px solid var(--color-secondary); }
    .menu__item--link:link, .menu__item--link:visited {
      text-decoration: none;
      color: var(--color-grey-light-2); }

@media only screen and (max-width: 600px) {
  .nav {
    position: absolute;
    top: 0;
    left: -25rem;
    width: 25rem;
    height: 100vh;
    transition: left 0.3s ease-in-out;
    opacity: 0;
    border-top: 4px solid var(--color-secondary);
    z-index: 1000; }
  .open {
    left: 0;
    opacity: 1; }
  .logo {
    width: 100%;
    margin: 0 auto; }
    .logo .logo__icon {
      margin: 0; }
  .nav {
    text-align: center; }
    .nav__items {
      flex-direction: column;
      justify-content: space-around;
      height: 70vh; }
    .nav .menu {
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .nav .menu__item {
        margin: 0;
        width: 100%;
        background-color: var(--color-primary-lighter);
        position: relative; }
        .nav .menu__item:not(:last-child) {
          margin-bottom: 2rem; }
        .nav .menu__item--link:link, .nav .menu__item--link:visited {
          text-transform: uppercase;
          padding: 1.5rem 3rem;
          z-index: 10;
          width: 100%;
          text-align: start; }
        .nav .menu__item:hover {
          border: none; }
      .nav .menu__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s; }
      .nav .menu__item:hover::before {
        transform: scaleY(1);
        width: 100%;
        border-bottom: 2px solid var(--color-secondary); } }

/**** hamburger icon ****/
.hamburger {
  position: fixed;
  top: 2rem;
  right: 3rem;
  opacity: 1;
  z-index: 1001;
  display: none; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger span {
    display: block;
    background: #fff;
    margin: 6px 0;
    height: 3px;
    width: 36px;
    border-radius: 2px;
    position: relative;
    transition: all 0.5s ease-in-out; }
  @media only screen and (max-width: 600px) {
    .hamburger {
      display: block; } }

.change.first-bar {
  top: 8px;
  transform: rotate(45deg); }

.change.second-bar {
  opacity: 0; }

.change.third-bar {
  bottom: 10px;
  transform: rotate(-45deg); }

.content {
  font-size: 1.6rem;
  padding: 2rem;
  margin-top: 7rem; }

.shift {
  /* margin-left: 180px; */ }

.portfolio {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .portfolio__story {
    max-width: 25rem;
    max-height: 25rem;
    position: relative; }
    .portfolio__story__img {
      max-width: 22rem;
      max-height: 22rem;
      border-radius: 50%;
      padding: 4px;
      border: 2px solid var(--color-secondary); }
    .portfolio__story__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      text-transform: uppercase;
      font-size: 1.9rem;
      text-align: center;
      opacity: 0;
      transition: all 500ms;
      color: var(--color-grey-light-3);
      border-radius: 4px;
      padding: 0 1rem;
      background-color: #13395666; }
    .portfolio__story:hover .portfolio__story__caption {
      opacity: 1;
      transform: translate(-50%, -50%); }
  .portfolio__info {
    width: 50rem;
    text-align: center; }
    .portfolio__info__heading {
      font-size: 7rem;
      color: var(--color-primary); }
      .portfolio__info__heading--sub {
        font-size: 2.6rem;
        font-weight: 400;
        color: var(--color-grey-dark-2);
        margin-top: 2rem; }
    .portfolio__info__cta {
      margin-top: 3rem; }
      .portfolio__info__cta__btn, .portfolio__info__cta__btn:link, .portfolio__info__cta__btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 200ms;
        position: relative;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        background-color: var(--color-secondary); }
      .portfolio__info__cta__btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(206, 202, 97, 0.2); }
        .portfolio__info__cta__btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0; }
      .portfolio__info__cta__btn:active, .portfolio__info__cta__btn:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(206, 202, 97, 0.2); }
  .portfolio__social {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 2.5rem auto 0 auto; }
    .portfolio__social--icon {
      height: 2.5rem;
      width: 2.5rem;
      transition: all 300ms ease-in-out; }
      .portfolio__social--icon:hover {
        transform: scale(1.2); }
    .portfolio__social .codepen {
      fill: #f4f4f4; }
    .portfolio__social .instagram {
      fill: #d10968; }
    .portfolio__social .linkedin {
      fill: #0177b5; }
    .portfolio__social .github {
      fill: #f4f4f4; }

.about {
  margin-top: 10rem;
  padding-bottom: 5rem;
  border-radius: 0.5rem; }
  .about__title {
    margin-bottom: 3rem;
    text-align: center; }

.stack {
  margin-top: 10rem;
  background: var(--color-primary-light);
  border-radius: 0.5rem;
  padding: 3rem 0 10rem 0; }
  .stack__title {
    margin-bottom: 3rem;
    text-align: center; }
  .stack__images {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    transition: all 1s ease; }
  .stack__img {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-grey-light-2);
    box-shadow: 2px 3px #00000062;
    border-radius: 3px;
    transition: transform 300ms;
    object-fit: cover; }
    .stack__img:hover {
      box-shadow: 0.4rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
      transform: scale(1.02); }

.stack__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0; }
  .stack__filter :not(:last-child) {
    margin-right: 2rem; }
  .stack__filter--btn {
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    font-family: inherit;
    border-radius: 5px;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-grey-light-2); }

.contact {
  margin-top: 10rem;
  background: var(--color-primary-light);
  border-radius: 0.5rem;
  padding: 3rem 0 10rem 0; }
  .contact__title {
    margin-bottom: 3rem;
    text-align: center; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__button {
    display: flex;
    align-items: center; }
