.about {
  margin-top: 10rem;
  padding-bottom: 5rem;
  border-radius: 0.5rem;
  background: var(--color-primary-light);

  &__title {
    margin-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    font-family: "Acme", sans-serif;
    letter-spacing: 1px;
  }

  &__body {
    display: flex;
    justify-content: space-around;
  }

  &__paragraph {
    flex: 0 0 60%;
  }
}

.stack {
  margin-top: 10rem;
  background-color: var(--color-primary-lighter);
  border-radius: 0.5rem;
  padding: 3rem 0 10rem 0;

  &__title {
    margin-bottom: 3rem;
    text-align: center;
    font-family: "Acme", sans-serif;
    letter-spacing: 1px;
  }

  &__images {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    transition: all 1s ease;
  }

  &__img {
    width: 90%;
    height: 80px;
    padding: 10px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-grey-light-2);
    box-shadow: 2px 3px #00000062;
    border-radius: 3px;
    transition: transform 300ms;
    object-fit: cover;

    &:hover {
      box-shadow: 0.4rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
      transform: scale(1.02);
    }
  }
}

.stack__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;

  :not(:last-child) {
    margin-right: 2rem;
  }

  &--btn {
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    font-family: inherit;
    border-radius: 5px;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-grey-light-2);
  }
}

.contact {
  margin-top: 10rem;
  background: var(--color-primary-light);
  border-radius: 0.5rem;
  padding: 3rem 0 10rem 0;

  &__title {
    margin-bottom: 3rem;
    text-align: center;
    font-family: "Acme", sans-serif;
    letter-spacing: 1px;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  background: var(--color-primary-light);

  &__button {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 0.4rem;
    border: 1px solid var(--color-secondary);

    &--link {
      text-decoration: none;
      font-size: 1rem;
      align-self: center;
      color: var(--color-primary-dark);
    }

    &--icon {
      height: 1.4rem;
      width: 1.4rem;
      margin-bottom: -0.25rem;
      margin-right: 0.3rem;
    }

    &:hover {
      background-color: var(--color-primary-dark);
    }
  }

  &__button:hover &__button--link {
    color: var(--color-primary);
  }

  &__button:hover &__button--icon {
    fill: var(--color-primary);
  }
}

.contact .portfolio__info__cta {
  display: flex;
  justify-content: center;

  a {
    color: var(--color-primary-dark);
  }
}
