.work {
  margin-top: 10rem;
  padding-bottom: 5rem;
  border-radius: 0.5rem;
  background: var(--color-primary-light);
  font-size: 1.7rem;

  &__title {
    margin-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    font-family: "Acme", sans-serif;
    letter-spacing: 1px;
  }

  &__header {
    &__title--sub {
      text-align: center;
      font-size: 2.6rem;
      font-weight: 400;
      color: var(--color-grey-dark-2);
      margin-top: -2rem;
      margin-bottom: 2rem;
    }
  }
}

.project {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5rem;

  background-color: var(--color-primary-lighter);
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: var(--shadow-light);

  &__image--box {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 2rem;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
  &__details {
    &__title {
      color: var(--color-primary);
      margin-bottom: 1.5rem;
      font-weight: 600;

      &--sub {
        font-weight: 300;
        color: var(--color-grey-dark-3);
        margin-bottom: 1rem;
      }
    }

    &__paragraph {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      &--item {
        background-color: var(--color-secondary);
        display: inline;
        padding: 0.4rem 0.5rem;
        border-radius: 0.5rem;
        color: var(--color-primary-dark);
        margin-bottom: 1rem;

        &:not(:last-child) {
          margin-right: 0.7rem;
        }
      }
    }
  }

  &__button {
    background-color: var(--color-primary);
    display: inline;
    padding: 0.4rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &__icon {
      height: 1.5rem;
      width: 1.5rem;
      margin-bottom: -0.1rem;
    }

    &--link {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
    }
  }
}
