//scroll out
[data-scroll] {
  transition: all 1.5s;
}

//about
.portfolio__story[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

.portfolio__story[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
}

.project__image--box[data-scroll="in"] {
  transform: scale(1);
}

.project__image--box[data-scroll="out"] {
  transform: scale(0.7);
}

.heading__primary[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.heading__primary[data-scroll="out"] {
  opacity: 0;
  transform: translateY(100%) scale(0.5);
}
