:root {
  --color-primary: #32aced;
  --color-primary-light: #02203c;
  --color-primary-lighter: #304150;
  --color-primary-dark: #1c2633;

  --color-secondary: #f8b71c;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-dark-4: #77777795;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.1);

  --line: 1px solid var(--color-grey-light-3);
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Acme|Anton|Patua+One");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem =10px, 10px/16px = 62.5%
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-grey-light-1);
  line-height: 1.6;
  font-weight: 400;
  height: 100%;
}

.container {
  max-width: 108rem;
  margin: 0 auto;
}
