@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");

.content {
  font-size: 1.6rem;
  // padding: 2rem;
  // margin-top: 7rem;
  -webkit-font-smoothing: antialiased;
}

// .shift {
//   margin-left: 250px;
//   transition: all 500ms;
// }

//Portfolio
.portfolio {
  padding-top: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;

  &__story {
    max-width: 25rem;
    max-height: 25rem;
    position: relative;
    flex: 0 0 40%;
    align-self: center;

    @media only screen and (max-width: $bp-medium) {
      flex-basis: 20%;
    }

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: -2rem;
    }
    @media only screen and (max-width: $bp-iphoneX) {
      margin-top: -3rem;
    }

    &__img {
      max-width: 22rem;
      max-height: 22rem;
      border-radius: 50%;
      padding: 4px;
      border: 2px solid var(--color-secondary);

      @media only screen and (max-width: $bp-medium) {
        max-width: 20rem;
        max-height: 20rem;
      }
    }

    &__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      text-transform: uppercase;
      font-size: 1.6rem;
      text-align: center;
      opacity: 0;
      transition: all 500ms;
      color: var(--color-grey-light-3);
      border-radius: 4px;
      padding: 0 1rem;
      background-color: #13395666;
    }

    &:hover &__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &__info {
    text-align: center;
    position: relative;
    padding-top: 8rem;

    @media only screen and (max-width: $bp-medium) {
      padding-top: 6rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding-top: 8rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding-top: 10rem;
    }

    @media only screen and (max-width: $bp-iphoneX) {
      padding-top: 6rem;
    }

    &__heading {
      font-size: 12rem;
      color: var(--color-primary);
      font-family: "Crimson Text", serif;
      letter-spacing: 1px;
      transition: all 0.3s;

      @media only screen and (max-width: $bp-medium) {
        font-size: 11rem;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 10rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        font-size: 8.5rem;
        margin-bottom: 3rem;
      }

      &--sub {
        font-size: 2.6rem;
        font-weight: 600;
        color: var(--color-grey-dark-2);
        // margin-top: 4rem;

        @media only screen and (max-width: $bp-small) {
          font-size: 2.3rem;
        }
      }
    }

    &__cta {
      margin-top: 7rem;

      @media only screen and (max-width: $bp-medium) {
        margin-top: 6rem;
      }

      &__btn {
        &,
        &:link,
        &:visited {
          text-transform: uppercase;
          text-decoration: none;
          padding: 1.5rem 3rem;
          display: inline-block;
          border-radius: 10rem;
          transition: all 200ms;
          position: relative;
          font-size: 1.6rem;
          //change for button element
          border: none;
          cursor: pointer;
          background-color: var(--color-secondary);
          font-family: inherit;
          font-weight: bold;
          letter-spacing: 1px;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(#ceca61, 0.2);

          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        }

        &:active,
        &:focus {
          outline: none;
          transform: translateY(-1px);
          box-shadow: 0 0.5rem 1rem rgba(#ceca61, 0.2);
        }
      }
    }
  }

  &__social {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: 6rem auto 0 auto;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 4rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: 3rem;
      width: 60%;
    }

    @media only screen and (max-width: $bp-iphoneX) {
      width: 80%;
    }

    &--icon {
      height: 3.5rem;
      width: 3.5rem;
      transition: all 300ms ease-in-out;

      @media only screen and (max-width: $bp-small) {
        height: 3rem;
        width: 3rem;
      }

      &:hover {
        transform: scale(1.2) rotate(360deg);
      }
    }

    .codepen {
      fill: #f4f4f4;
    }

    .instagram {
      fill: #d10968;
    }

    .linkedin {
      fill: #0177b5;
    }

    .github {
      fill: #f4f4f4;
    }
  }
}

.home-icon {
  fill: var(--color-primary);
}

.landing__mouse {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  width: 3.5rem;
  height: 6rem;
  border: 2px solid var(--color-secondary);
  border-radius: 6rem;
}

.mouse::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--color-secondary);
  opacity: 1;
  animation: mouse 1.5s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 1.4rem;
  }
  to {
    opacity: 0;
    top: 4.5rem;
  }
}

#home {
  /* parallax effect */
  background-attachment: fixed;
  background-size: cover;
  //SVG
  background-color: #32aced;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231494df' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231175b6' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230d588d' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%230a3d64' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2306233c' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%230c2943' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23132f48' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%231b354c' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23253b4f' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23304150' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
}
