@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");

.content {
  font-size: 1.6rem;
  // padding: 2rem;
  // margin-top: 7rem;
  -webkit-font-smoothing: antialiased;
}

.shift {
  margin-left: 250px;
  transition: all 500ms;
}

// #home {
//   background-image: radial-gradient(
//     circle,
//     #144778 0%,
//     #02203c 90%,
//     #02203c 100%
//   );
// }

//Portfolio
.portfolio {
  padding-top: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;

  &__story {
    max-width: 25rem;
    max-height: 25rem;
    position: relative;
    flex: 0 0 40%;
    align-self: center;

    &__img {
      max-width: 22rem;
      max-height: 22rem;
      border-radius: 50%;
      padding: 4px;
      border: 2px solid var(--color-secondary);
    }

    &__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      text-transform: uppercase;
      font-size: 1.6rem;
      text-align: center;
      opacity: 0;
      transition: all 500ms;
      color: var(--color-grey-light-3);
      border-radius: 4px;
      padding: 0 1rem;
      background-color: #13395666;
    }

    &:hover &__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &__info {
    text-align: center;
    position: relative;
    padding-top: 8rem;

    &__heading {
      font-size: 12rem;
      color: var(--color-primary);
      font-family: "Crimson Text", serif;
      letter-spacing: 1px;
      &--sub {
        font-size: 2.6rem;
        font-weight: 400;
        color: var(--color-grey-dark-2);
        // margin-top: 4rem;
      }
    }

    &__cta {
      margin-top: 7rem;

      &__btn {
        &,
        &:link,
        &:visited {
          text-transform: uppercase;
          text-decoration: none;
          padding: 1.5rem 3rem;
          display: inline-block;
          border-radius: 10rem;
          transition: all 200ms;
          position: relative;
          font-size: 1.6rem;
          //change for button element
          border: none;
          cursor: pointer;
          background-color: var(--color-secondary);
          font-family: inherit;
          font-weight: bold;
          letter-spacing: 1px;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(#ceca61, 0.2);

          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        }

        &:active,
        &:focus {
          outline: none;
          transform: translateY(-1px);
          box-shadow: 0 0.5rem 1rem rgba(#ceca61, 0.2);
        }
      }
    }
  }

  &__social {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: 6rem auto 0 auto;

    &--icon {
      height: 3.5rem;
      width: 3.5rem;
      transition: all 300ms ease-in-out;

      &:hover {
        transform: scale(1.2) rotate(360deg);
      }
    }

    .codepen {
      fill: #f4f4f4;
    }

    .instagram {
      fill: #d10968;
    }

    .linkedin {
      fill: #0177b5;
    }

    .github {
      fill: #f4f4f4;
    }
  }
}

.home-icon {
  fill: var(--color-primary);
}

.landing__mouse {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  width: 3.5rem;
  height: 6rem;
  border: 2px solid #d10968;
  border-radius: 6rem;
}

.mouse::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #d10968;
  opacity: 1;
  animation: mouse 1.5s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 1.4rem;
  }
  to {
    opacity: 0;
    top: 4.5rem;
  }
}
