.nav {
	height: 7rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	&__items {
		height: 100%;
		display: flex;
		max-width: 108rem;

		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}
}

.fixed-nav {
	position: fixed;
	background-color: #02203cc4;
	border-bottom: 1px solid var(--color-secondary);
}

.logo__icon {
	text-decoration: none;
	margin-left: 3rem;
}

.menu {
	height: 100%;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 3rem;

	&__item {
		font-size: 1.4rem;
		height: 100%;
		display: flex;
		align-items: center;
		transition: all 0.2s ease;

		// &:hover {
		//   padding-bottom: -7px;
		//   border-bottom: 2px solid var(--color-secondary);
		// }

		&:not(:last-child) {
			margin-right: 3rem;
		}

		&--link,
		&--link:link,
		&--link:visited {
			cursor: pointer;
			text-decoration: none;
			color: var(--color-grey-light-2);
			z-index: 999;

			&:hover {
				padding-bottom: 7px;
				border-bottom: 2px solid var(--color-secondary);
			}
		}
	}
}

@media only screen and (max-width: "600px") {
	.nav {
		position: fixed;
		top: 0;
		left: -25rem;
		width: 25rem;
		height: 100%;
		transition: left 0.3s ease-in-out;
		opacity: 0;
		border-top: 4px solid var(--color-secondary);
		background-color: var(--color-primary-light);
		z-index: 1000;
	}

	.open {
		left: 0;
		opacity: 1;
	}

	.logo {
		width: 100%;
		margin: 0 auto;

		.logo__icon {
			margin: 0;
		}
	}

	.nav {
		text-align: center;

		&__items {
			flex-direction: column;
			justify-content: space-around;
			height: 70vh;
		}

		.menu {
			flex: 0 0 50%;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin-right: 0;

			&__item {
				margin: 0;
				width: 100%;
				border-left: 3px solid var(--color-primary);
				background-color: var(--color-primary-lighter);
				position: relative;
				padding-left: 2rem;

				&:not(:last-child) {
					margin-bottom: 2rem;
				}

				&--link:link,
				&--link:visited {
					text-transform: uppercase;
					padding: 1.5rem 3rem;
					z-index: 10;
					width: 100%;
					text-align: start;
				}

				&:hover {
					border: none;
				}
			}

			&__item::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 3px;
				background-color: var(--color-primary);
				transform: scaleY(0);
				transition: transform 0.2s, width 0.4s;
			}

			&__item:hover::before {
				transform: scaleY(1);
				width: 100%;
				border-bottom: 2px solid var(--color-secondary);
			}
		}
	}
}

/**** hamburger icon ****/
.hamburger {
	position: fixed;
	top: 1rem;
	right: 1.2rem;
	opacity: 1;
	z-index: 1001;
	display: none;

	background-color: #02203cc4;
	padding: 1.6rem;
	border-radius: 50%;

	&:hover {
		cursor: pointer;
	}

	& span {
		display: block;
		background: #fff;
		margin: 6px 0;
		height: 3px;
		width: 36px;
		border-radius: 2px;
		position: relative;
		transition: all 0.5s ease-in-out;
	}

	@media only screen and (max-width: "600px") {
		display: block;
	}
}

.change.first-bar {
	top: 8px;
	transform: rotate(45deg);
}
.change.second-bar {
	opacity: 0;
}
.change.third-bar {
	bottom: 10px;
	transform: rotate(-45deg);
}
