.heading__primary {
  font-size: 4rem;
  color: var(--color-grey-light-4);
}

.text-lead {
  color: var(--color-secondary);
  font-style: italic;
}

.text-lead-sub {
  color: var(--color-secondary);
  text-align: center;
  margin-top: 4rem;
}

.paragraph {
  color: var(--color-grey-light-2);
  font-size: 1.7rem;
  margin: 0 auto;
  width: 90%;

  &--center {
    max-width: 80rem;
    text-align: center;
    margin: 0 auto;
  }

  &--small {
    font-size: 1.4rem;
  }
}
