.heading__primary {
  font-size: 4rem;
  color: var(--color-grey-light-4);
}

.text-lead {
  color: var(--color-primary);
}

.text-lead-sub {
  color: var(--color-secondary);
  text-align: center;
  margin-top: 4rem;
}

.paragraph {
  color: var(--color-grey-light-2);
  font-size: 1.7rem;
  width: 90%;
  margin: 0 auto;

  &--center {
    text-align: center;
  }

  &--small {
    font-size: 1.4rem;
  }
}
